body{
    background-color: greenyellow;
}
nav{

    background-color: darkmagenta;
    display:flex;
    justify-content: space-around;
    align-items:center ;
}
nav a{
    text-decoration: none;
    color:aliceblue
}
nav li{
    display:inline-block ;
    margin:0 5px;

}
nav a:hover{
    color:black;
}
.red::selection{
 background-color: brown;
 color:purple
}